<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/icons/favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1f1f1f">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/assets/css/e10_theme.css">
    <link href="/assets/css/fontawesome.css" rel="stylesheet"/>
    <link href="/assets/css/brands.css" rel="stylesheet"/>
  </head>
  <body>
    <script type="module" src="https://cdn.jsdelivr.net/npm/zero-md@3?register"></script>
    <div class="navbar" id="nav">
      <img href="/_layouts/default.html" src="/assets/icons/e10 icon.png" class="navbtn"></img>
      <a href="https://www.youtube.com/@e10withadot" class="navbtn"><span class="fab fa-youtube"></span></a>
      <a href="https://e10withadot.tumblr.com" class="navbtn"><span class="fab fa-tumblr"></span></a>
      <a href="https://www.reddit.com/u/e10withadot" class="navbtn"><span class="fab fa-reddit-alien"></span></a>
      <a href="https://github.com/e10withadot" class="navbtn"><span class="fab fa-github"></span></a>
      <div class="page-container">
        <a href="/_layouts/404.html" class="navbtn">Art</a>
        <a href="/_layouts/404.html" class="navbtn">Projects</a>
      </div>
    </div>
    <header class="page-header" role="banner" id="head">
        <h1 class="project-name">This page doesn't exist. (404 error)</h1>
        <h2 class="project-tagline">Woopsie!</h2>
    </header>
  </body>
</html>