<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/icons/favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1f1f1f">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/assets/css/e10_theme.css">
    <link href="/assets/css/fontawesome.css" rel="stylesheet"/>
    <link href="/assets/css/brands.css" rel="stylesheet"/>
  </head>
  <body>
    <script type="module" src="https://cdn.jsdelivr.net/npm/zero-md@3?register"></script>
    <div class="navbar" id="nav">
      <img href="/_layouts/default.html" src="/assets/icons/e10 icon.png" class="navbtn"></img>
      <a href="https://www.youtube.com/@e10withadot" class="navbtn"><span class="fab fa-youtube"></span></a>
      <a href="https://e10withadot.tumblr.com" class="navbtn"><span class="fab fa-tumblr"></span></a>
      <a href="https://www.reddit.com/u/e10withadot" class="navbtn"><span class="fab fa-reddit-alien"></span></a>
      <a href="https://github.com/e10withadot" class="navbtn"><span class="fab fa-github"></span></a>
      <div class="page-container">
        <a href="/_layouts/404.html" class="navbtn">Art</a>
        <a href="/_layouts/404.html" class="navbtn">Projects</a>
      </div>
    </div>

    <header class="page-header" role="banner" id="head">
      <h1 class="project-name">e10withadot's stupid webpage</h1>
      <h2 class="project-tagline">low effort template page yay!!!!!!!!!!!!!!!!</h2>
      <div id="socials">
        <a href="https://www.youtube.com/@e10withadot" class="btn youtube"><span class="fab fa-youtube"></span> <div class="hide">YouTube</div></a>
        <a href="https://e10withadot.tumblr.com" class="btn tumblr"><span class="fab fa-tumblr"></span> <div class="hide">Tumblr</div></a>
        <a href="https://www.reddit.com/u/e10withadot" class="btn reddit"><span class="fab fa-reddit-alien"></span> <div class="hide">Reddit</div></a>
        <a href="https://github.com/e10withadot" class="btn github"><span class="fab fa-github"></span> <div class="hide">GitHub</div></a>
      </div>
    </header>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        const nav = document.getElementById("nav");
        const socials = document.getElementById('socials');

        function checkHeaderVisibility() {
          const socialsBottom = socials.getBoundingClientRect().bottom;
          if (socialsBottom <= 0) {
            nav.classList.add("visible");
            return;
          }
          nav.classList.remove("visible");
        }
        checkHeaderVisibility();
        window.addEventListener('scroll', checkHeaderVisibility);
      });
    </script>
    <main id="content" class="main-content" role="main">
      <zero-md src="/README.md">
        <template>
            <link rel="stylesheet" href="/assets/css/e10_theme.css"/>
        </template>
      </zero-md>
      <iframe
        src="https://www.youtube.com/embed/UVAGAW_CE2k"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <footer class="site-footer">
        <span class="site-footer-credits"><div>e10withadot 2024</div><div>Based on the <a href="https://github.com/pages-themes/cayman/">Cayman</a> template from <a href="https://pages.github.com">GitHub Pages</a>.</div></span>
      </footer>
    </main>
  </body>
</html>
